<br>
<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>
<h2>Incomplete</h2>
<%= form_tag complete_path, :method => :put do %>
  <ul class="list list-unstyled">
  <% @incomplete_tasks.each do |task| %>
    <li>
      <h4>
      <%= check_box_tag "task_ids[]", task.id %>
      <%= task.title %> 
      <small>Category: <%= task.category %> Priority: <%= task.priority %></small>
      </h4>
    </li>
  <% end %>
  </ul>
  <%= submit_tag "Mark Complete", class: "btn btn-default" %>
<% end %>
<h2>Complete</h2>
<%= form_tag incomplete_path, method: :put do %>
  <ul class="list list-unstyled">
  <% @complete_tasks.each do |task| %>
    <li>
      <h4>
      <%= check_box_tag "task_ids[]", task.id %>
      <%= task.title %>
      <small>Category: <%= task.category %> Priority: <%= task.priority %>
      <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure"} %></small>
      </h4>
    </li>
  <% end %>
  </ul>
  <%= submit_tag "Mark Incomplete", class: "btn btn-default" %>
<% end %>